
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: table; position: relative; width: 100%; height: 100%; margin-left: auto; margin-right: auto;  }

#_bg__travelers_page {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(255,255,255,255);
}


#rectangle_26 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 158px;
	background:rgba(85,165,220,255);
}


#rectangle_29 {
	top: 43px;
	left: 40px;
	width: 839px;
	height: 37px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,255);
}


#ministry_of_health_and_indigenous_medical_services {
	top: 41px;
	left: 53px;
	width: 805px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 28px;
	text-align: left;
	color:#55a5dc;
}


#rectangle_30 {
	top: 117px;
	left: 40px;
	width: 202px;
	height: 42px;
	background:rgba(58,149,212,255);
}


#rectangle_31 {
	top: 117px;
	left: 40px;
	width: 202px;
	height: 42px;
	background:rgba(58,149,212,255);
}


#wellbeing {
	top: 124px;
	left: 91px;
	width: 104px;
	height: 32px;
	font-family: Segoe UI;
	font-size: 21px;
	text-align: left;
	color:#ffffff;
}


#rectangle_43 {
	top: 159px;
	left: 0px;
	width: 100%;
	height: 139px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(250,233,77,255);
}


#health_alert_ {
	top: 182px;
	left: 40px;
	width: 268px;
	height: 54px;
	font-family: Segoe UI;
	font-size: 35px;
	text-align: left;
	color:#000000;
}


#travelers {
	top: 327px;
	left: 40px;
	width: 156px;
	height: 54px;
	font-family: Segoe UI;
	font-size: 35px;
	text-align: left;
	color:#000000;
}


#health_services_at_airport {
	top: 889px;
	left: 40px;
	width: 342px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#immunization {
	top: 815px;
	left: 40px;
	width: 185px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#endemic_diseases {
	top: 664px;
	left: 40px;
	width: 235px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#hospitals {
	top: 740px;
	left: 40px;
	width: 126px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#clinics {
	top: 515px;
	left: 40px;
	width: 88px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#phone_directory {
	top: 964px;
	left: 41px;
	width: 217px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#general_notices {
	top: 440px;
	left: 38px;
	width: 212px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#donations {
	top: 589px;
	left: 40px;
	width: 139px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#take_precautions_provided_by_ministry_of_health {
	top: 237px;
	left: 40px;
	width: 528px;
	height: 37px;
	font-family: Segoe UI;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#rectangle_52 {
	top: 1309px;
	left: 0px;
	width: 100%;
	height: 61px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(85,165,220,255);
}


#quarantine_information {
	top: 1114px;
	left: 41px;
	width: 315px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 28px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#tenders {
	top: 1039px;
	left: 41px;
	width: 106px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 28px;
	text-decoration: underline;
	text-align: left;
	color:#000484;
}


#rectangle_32 {
	top: 117px;
	left: 249px;
	width: 202px;
	height: 42px;
	background:rgba(58,149,212,255);
}


#lifestyle {
	top: 125px;
	left: 310px;
	width: 86px;
	height: 32px;
	font-family: Segoe UI;
	font-size: 21px;
	text-align: left;
	color:#ffffff;
}


#rectangle_34 {
	top: 117px;
	left: 458px;
	width: 203px;
	height: 42px;
	background:rgba(29,103,154,255);
}


#travelers_ {
	top: 125px;
	left: 513px;
	width: 97px;
	height: 32px;
	font-family: Segoe UI;
	font-size: 21px;
	text-align: left;
	color:#ffffff;
}


#rectangle_36 {
	top: 117px;
	left: 668px;
	width: 203px;
	height: 42px;
	background:rgba(58,149,212,255);
}


#notices {
	top: 124px;
	left: 733px;
	width: 79px;
	height: 32px;
	font-family: Segoe UI;
	font-size: 21px;
	text-align: left;
	color:#ffffff;
}


#rectangle_38 {
	top: 117px;
	left: 878px;
	width: 202px;
	height: 42px;
	background:rgba(58,149,212,255);
}


#contact {
	top: 125px;
	left: 941px;
	width: 81px;
	height: 32px;
	font-family: Segoe UI;
	font-size: 21px;
	text-align: left;
	color:#ffffff;
}


#health_map {
	top: 402px;
	left: 624px;
	width: 153px;
	height: 43px;
	font-family: Segoe UI;
	font-size: 28px;
	text-align: left;
	color:#000000;
}


#rectangle_65 {
	top: 440px;
	left: 624px;
	width: 50%;
	height: 381px;
}


#rectangle_28 {
	top: 45px;
	left:  75%;
	width: 284px;
	height: 35px;
	-ms-border-radius: 17.5px;
	-o-border-radius: 17.5px;
	-moz-border-radius: 17.5px;
	-webkit-border-radius: 17.5px;
	border-radius: 17.5px;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(255,255,255,255);
}


#icon_awesome_search {
	top: 7px;
	left: 85%;
	width: 20.55078125px;
	height: 20.553588867188px;
}




#rectangle_42 {
	top: 117px;
	left: 92%;
	width: 113px;
	height: 42px;
	background:rgba(29,103,154,255);
}


#rectangle_39 {
	top: 3px;
	left: 90%;
	width: 50px;
	height: 21px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,255);
}


#rectangle_40 {
	top: 3px;
	left: 93.5%;
	width: 50px;
	height: 21px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,255);
}


#rectangle_41 {
	top: 3px;
	left: 97%;
	width: 47px;
	height: 21px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,255);
}


#login {
	top: 126px;
	left: 93.5%;
	width: 49px;
	height: 25px;
	font-family: Segoe UI;
	font-size: 17px;
	text-align: left;
	color:#ffffff;
}


#english {
	top: 3px;
	left: 90%;
	width: 50px;
	height: 22px;
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	color:#2f8ccc;
}


#සිංහල {
	top: 4px;
	left: 93.5%;
	width: 49px;
	height: 22px;
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	color:#2f8ccc;
}


#தமிழ் {
	top: 3px;
	left: 97%;
	width: 47px;
	height: 22px;
	font-family: Segoe UI;
	font-size: 14px;
	text-align: left;
	color:#2f8ccc;
}


#ministry_of_health_and_indigenous_medical_services_ek1 {
	top: 1327px;
	width: 100%;
	height: 25px;
	font-family: Segoe UI;
	font-size: 17px;
	text-align: center;
	color:#000000;
}



